/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
  }
body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
  }
  
  a {
    color: #0563bb;
    text-decoration: none;
  }
  
  a:hover {
    color: #067ded;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 1000;
    background: #000000;
    width: 40px;
    height: 40px;

    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 1px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    animation: bounce2 2s ease infinite;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #ffffff;
    line-height: 0;
  }
  
   .back-to-top:hover {
    box-shadow: 1px 1px 24px rgba(14, 15, 14, 0.64);
    transform: translateY(-6px);
    background: #000000;
    color: #ffffff;
  }
  .back-to-top:hover > i{
    color: #ffffff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

  @keyframes bounce2 {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
  }
  
  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #0563bb;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
  /*--------------------------------------------------------------
  # Navbar
  --------------------------------------------------------------*/

.navbar{
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.navbarBrandImage{
    height: 80px;
}

.navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
    font-size: 20px;
    font-weight: 600;
}
.navbar-nav > li .btn{
    background-color: #414BB2;
    color: #fff;
}

.visuallyHidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}
.hamburger {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative;
  outline: none;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 4px;
  background-color: maroon;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute; 
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.checkbox2:checked + label > .hamburger2 > .bar1{
  transform: translateX(40px);
  background-color: transparent;
}

.checkbox2:checked + label > .hamburger2 > .bar2{
  transform: rotate(45deg);
}

.checkbox2:checked + label > .hamburger2 > .bar3{
  transform: rotate(-45deg);
}

.checkbox2:checked + label > .hamburger2 > .bar4{
  transform: translateX(-40px);
  background-color: transparent;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

/* Extra Small devices (portrait tablets and large phones, 600px and low) */
@media only screen and (max-width: 600px) {
    .navbar-nav > li{
        font-size: 15px;
    }
    .navbarBrandImage{
        height: 60px;
    }
}

/* Small devices (portrait tablets and large phones, Between 600px - 768px) */
@media only screen and (max-width: 768px) and (min-width: 601px) {
    .navbarBrandImage{
        height: 60px;
    }
}

/* Large device (portrait tablets and large phones, Between 992px - 1100px) */
@media only screen and (max-width: 1100px) and (min-width: 992px) {
    .navbar-nav > li{
        font-size: 20px;
        padding-left:10px;
        padding-right:10px;
    }
}

  /*--------------------------------------------------------------
  # Mute Button
  --------------------------------------------------------------*/
  

#muteButton {
  position:absolute; 
  bottom:25px;
  right:20px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  outline: none;
  background: none; 
  display: inline-block;
  background: #0563bb;
  color: #000000;
  border-radius: 100px;
  box-shadow: 0 0 5px rgb(18, 147, 113);
  /* animation: ripple 1.25s infinite cubic-bezier(0.66, 0, 0, 1); */
  animation: ripple 1.25s 1.5s infinite cubic-bezier(0.66, 0, 0, 1), bounce-in-right 2s ease;
  transition: 0.3s;
}
#muteButton i{
  color: rgb(255, 255, 255);
  font-size: 30px;
}
#muteButton i:hover::before{
  transform: scale(1.2);
  border-radius: 100px;
  
}

#muteButton i:hover{
  color: rgb(0, 0, 0);
}


@keyframes bounce-in-right {
0% {
opacity: 0;
transform: translateX(200px);
}
60% {
opacity: 1;
transform: translateX(-30px);
}
80% { transform: translateX(10px); }
100% { transform: translateX(0); }
}

#muteButton:focus{
  outline: none;       
}
@keyframes ripple {
0% {
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3),
  0 0 0 1px rgba(0, 0, 0, 0.3),
  0 0 0 3px rgba(0, 0, 0,0.3),
  0 0 0 5px rgba(0, 0, 0, 0.3);
}
100% {
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3),
  0 0 0 4px rgba(0, 0, 0, 0.3),
  0 0 0 20px rgba(0, 0, 0, 0),
  0 0 0 30px rgba(0, 0, 0, 0);
}
}
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  
  /* .heroVideo{
    font-color: black;
  }

  .heroVideo:before{
    content: "";
    position: absolute; 
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(25, 15, 15, 0.8);
  }
  */

  video {
    position: relative;
    width: 100%;
    max-height: calc(100vh - 120px);
    object-fit: fill;  
    z-index: -10;
  } 

  
  
  .hero-banner{
    text-align: center;
    z-index: 10;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: White;
    
  }
  .hero-banner>h4{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 2px 2px 4px #000000;
  }

  .containerContentData{
    /* margin-top: 20px; */
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    
    color: #fff;
    position: relative;
    background-color: rgb(24,20,26);
    /* border-radius: 20px 20px 20px 20px; */
    /* box-shadow: 5px 10px 8px 0px #888888; */
    min-height: calc(100vh - 120px); /*Keep spcae before and after '-' sign*/
  }

.containerVideoData{
   
    min-height: calc(100vh - 0px);
    width: 100%;
}

.containerVideoData > .row > video {
    min-height: calc(100vh - 120px);
    object-fit: cover;
    position: fixed;
}

.gamePage1Content{
    margin-top: 100px;
}
.gamePage2Content{
    margin-top: 20px;
    left:50%;
    Transform: translate(-50%, 0);

}

.gamePage1Content .bookings{
    margin-top: 50px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}
.timercol{
    color: white;
    line-height: 50px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-left: 5px;
    height: 50px; 
    border-radius: 5px;
    background-color: #414BB2;
}
.timercolnum {
    background-color: #414BB2;

}
.timercolSep{
    line-height: 50px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-left: 5px;
    height: 50px; 
    border-radius: 5px;

}

.timercolDesc{
    line-height: 50px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-left: 7px;
    height: 50px;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-title {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 10px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #ffffff;
  }
  
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
 
  /*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
  .wrapperContact{
    color: white;
    /* margin-top: 30px; */
    position: relative;
   
  }
 
  .contact{
    
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
  }


  .contact .social-links {
    /* margin: 0 0 40px 0; */
    text-align: center;
   
  }
  
  .contact .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #0563bb;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  .contact .social-links a:hover {
    background: #0678e3;
    color: #fff;
    text-decoration: none;
  }

  .contact .info i {
    font-size: 20px;
    color: #0563bb;
    float: left;
    width: 44px;
    height: 44px;
    background: #eef7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #45505b;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #728394;
  }
  
  .contact .info .email,
  .contact .info .phone {
    margin-top: 40px;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
    background: #0563bb;
    color: #fff;
  }
  
  .contact .php-email-form {
    width: 100%;
    /* background: #fff; */
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input[type=text],
  .contact .php-email-form input[type=email] {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #0563bb;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #0678e3;
  }
  .contactBrand{
    border-right-style: solid;
  }
  
  .subscribeButton{
    text-align: left;
  }

  @media screen and (max-width: 768px) {
    .contactBrand{
        margin-top: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-right-style: none;
        text-align: center;
      }
      .contactSubscribe{
        text-align: center;
      }

      .contact .textBanner{
        text-align: center;
      }

  }
  @media screen and (min-width:769px) and (max-width: 992px) {
    .contactBrand{
        margin-top: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-right-style: none;
        text-align: center;
      }
      .contactSubscribe{
        text-align: center;
      }

      .contact .textBanner{
        text-align: center;
      }
      .subscribeRow{
        transform: translate(8.3%,50%);
      }

  }
  

  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
 /*
  Footer Background
 */
 #bgicon{
  position: relative;
  width: 100%;

  background-color: #111;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}
#bgicon .row{
  position: relative;
  
  width: 100%;
  display: flex;
  padding: 20px 0;
  white-space: nowrap;
  font-size: 40px;
  transform: rotate(-30deg);
  transform-origin: 50px 50px;
}
#bgicon i{
  line-height: 1;
  transition: 1s ;
  /* padding: 0 5px; */
  color: rgba(0, 0, 0, 0.5);
  user-select: none;
  cursor: default;
}
#bgicon i:hover{
  transition: 0s;
  color: #0f0;
  text-shadow: 0px 0px 120px #0f0;
}
#bgicon .row div{

  animation: animate1 20s linear infinite;
  animation-delay: -40s;
}
#bgicon .row div:nth-child(2){

animation: animate2 20s linear infinite;
animation-delay: -20s;
}

@keyframes animate1 {
  from {
      transform: translateX(calc(100% + 10px));
  }
  to {
      transform: translateX(0);
  }
}
@keyframes animate2 {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-200%);
  }
}
#bgicon .row:nth-child(even) div{

animation: animate3 20s linear infinite;
animation-delay: -40s;
}
#bgicon .row:nth-child(even) div:nth-child(2){

animation: animate4 20s linear infinite;
animation-delay: -20s;
}

@keyframes animate3 {
0% {
transform: translateX(-100%);
}
100% {
transform: translateX(100%);
}
}
@keyframes animate4 {
0% {
transform: translateX(-200%);
}
100% {
transform: translateX(0%);
}
}